@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Open+Sans');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.nav {
  margin: 10px auto;
  justify-content: center;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Libre Barcode 128 Text', sans-serif;
  font-size: 5em;
  margin-bottom: 5px;
}

#logged {
  margin: 0 auto;
  font-size: 10px;
}

ul {
  list-style-type: none;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
  margin-left: 20vw;
}

li {
  margin: 10px auto;
}

a {
  text-decoration: none;
  color: #456;
  font-weight: bold;
  font-size: 1em;
}
a:hover {
  cursor: pointer;
}

button {
  padding: 10px;
  border-radius: 5px;
  background: #eee;
  border: none;
}

button:hover {
  cursor: pointer;
}

input {
  height: 1em;
  padding: 5px;
  margin: 5px;
}

div {
  justify-content: center;
}

canvas {
  background: #56789a;
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
